<!-- <form>
    <ul class="list-unstyled" *ngFor="let follower of followers">
        <li class="media">
          <img class="mr-3 round-avatar"  [src]="follower.avatar_url" alt="Generic placeholder image">
          <div class="media-body">
            <h5 
              [routerLink]="['followers', follower.id, follower.login]" 
              class="mt-0 mb-1">
              {{ follower.login }}
            </h5>
            <a 
              [href]="follower.html_url">
              {{ follower.html_url }}
              </a>
          </div>
        </li>
      </ul>
</form> -->

<div *ngFor="let follower of followers" class="media">
  <img class="mr-3 round-avatar"  [src]="follower.avatar_url" alt="Generic placeholder image">
  <div class="media-body">
    <h4 class="media-heading">
      <a [routerLink]="['followers', follower.id, follower.login]"> {{ follower.login }}</a>
    </h4>
    <a [href]="follower.html_url">{{ follower.html_url }}</a>
  </div>
</div>