<form [formGroup]="form">
    <div class="leftDiv">
        <h2> Title </h2>
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="title">
        </div>

        <div class="alert alert-danger" *ngIf="title.invalid && title.touched">
            Input title is required.
        </div>

        <h2> Price </h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="number" class="form-control" formControlName="price">
        </div>

        <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
            Input price is required.
        </div>

        <h2> Category </h2>
        <div class="input-group mb-3">
            <select class="custom-select" formControlName="categorys">
              <option [ngValue]="null" disabled>Choose...</option>
              <option *ngFor="let category of categorysList" [ngValue]="category">
                {{ category }}
               </option>
            </select>
        </div>

        <div class="alert alert-danger" *ngIf="categorys.invalid && categorys.touched">
            Category is required.
        </div>

        <h2> Image URL </h2>
        <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="ImageURL">
        </div>

        <div>
            <button type="button" class="btn btn-primary floated" *ngIf="!deleteProductButton" (click)="saveProduct()">Save</button>
            <button type="button" class="btn btn-primary floated" *ngIf="deleteProductButton" (click)="updateProduct()">Update</button>
            <button type="button" class="btn btn-danger floated" [disabled]="!deleteProductButton" (click)="deleteProduct()">Delete</button>
        </div>

    </div>
    <div class="rightDiv">
        <div class="card" style="width: 30rem;">
            <img [src]="ImageURL.value " class="card-img-top">
            <div class="card-body">
                <h1 class="card-title">{{ title.value }}</h1>
                <p class="card-text">$ {{ price.value | number : '1.2-3' }}</p>
            </div>
        </div>
    </div>
</form>