<!-- <h1>{{ title }}</h1>
<h3>Count: {{ count | async}}</h3>
<button (click)="increment()">+</button> 
<button (click)="decrement()">-</button> -->

<!-- <div class="partition">
  <app-todo-list></app-todo-list>
</div>
<div class="partition partition-filled">
  <app-todo-dashboard></app-todo-dashboard>
</div> -->

<app-messages></app-messages>
<div class="partition">
  <app-todo-list></app-todo-list>
</div>
<div class="partition partition-filled">
  <app-todo-dashboard></app-todo-dashboard>
</div>