<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="oldPassword.invalid && oldPassword.touched">
            <div *ngIf="oldPassword.errors.required">Input is required.</div>
            <div *ngIf="oldPassword.errors.minlength">
                Input should be at least {{ oldPassword.errors.minlength.requiredLength }} charecters.
            </div>
            <div *ngIf="!oldPassword.errors.isCurrentPassword">
                Incurrect password.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.invalid && newPassword.touched">
            <div *ngIf="newPassword.errors.required">Input is required.</div>
            <div *ngIf="newPassword.errors.minlength">
                Input should be at least {{ newPassword.errors.minlength.requiredLength }} charecters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
            <div *ngIf="confirmPassword.errors.required">Input is required.</div>
            <div *ngIf="confirmPassword.errors.minlength">
                Input should be at least {{ confirmPassword.errors.minlength.requiredLength }} charecters.
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="newPassword.valid && confirmPassword.valid && form.errors">
            Passowrds don't match.</div>
    </div>
    <button (click)="onChangePasswordClick()" class="btn btn-primary">Change Password</button>
</form>